<p id="notice"><%= notice %></p>

<p>
  <b>Mail:</b>
  <%= @datum.mail %>
</p>

<p>
  <b>Where:</b>
  <%= @datum.where %>
</p>

<p>
  <b>Q4_1:</b>
  <%= @datum.q4 %>
</p>

<p>
  <b>Q5:</b>
  <%= @datum.q5 %>
</p>

<p>
  <b>Q6:</b>
  <%= @datum.q6 %>
</p>

<p>
  <b>Q7 1:</b>
  <%= @datum.q7_1 %>
</p>

<p>
  <b>Q7 2:</b>
  <%= @datum.q7_2 %>
</p>

<p>
  <b>Q8 1:</b>
  <%= @datum.q8_1 %>
</p>

<p>
  <b>Q8 2:</b>
  <%= @datum.q8_2 %>
</p>

<p>
  <b>Q9 1:</b>
  <%= @datum.q9_1 %>
</p>

<p>
  <b>Q10 1:</b>
  <%= @datum.q10_1 %>
</p>

<p>
  <b>Q10 2:</b>
  <%= @datum.q10_2 %>
</p>

<p>
  <b>Q11 1:</b>
  <%= @datum.q11_1 %>
</p>

<p>
  <b>Q11 2:</b>
  <%= @datum.q11_2 %>
</p>

<p>
  <b>Q12 1:</b>
  <%= @datum.q12_1 %>
</p>

<p>
  <b>Q12 2:</b>
  <%= @datum.q12_2 %>
</p>

<p>
  <b>Q13 1:</b>
  <%= @datum.q13_1 %>
</p>

<p>
  <b>Q13 2:</b>
  <%= @datum.q13_2 %>
</p>

<p>
  <b>Q14 1:</b>
  <%= @datum.q14_1 %>
</p>

<p>
  <b>Q14 2:</b>
  <%= @datum.q14_2 %>
</p>

<p>
  <b>Q15 1:</b>
  <%= @datum.q15_1 %>
</p>

<p>
  <b>Q15 2:</b>
  <%= @datum.q15_2 %>
</p>

<p>
  <b>Q16 1:</b>
  <%= @datum.q16_1 %>
</p>

<p>
  <b>Q16 2:</b>
  <%= @datum.q16_2 %>
</p>

<p>
  <b>Q17 1:</b>
  <%= @datum.q17_1 %>
</p>

<p>
  <b>Q17 2:</b>
  <%= @datum.q17_2 %>
</p>

<p>
  <b>Q18 1:</b>
  <%= @datum.q18_1 %>
</p>

<p>
  <b>Q18 2:</b>
  <%= @datum.q18_2 %>
</p>

<p>
  <b>Q19 1:</b>
  <%= @datum.q19_1 %>
</p>

<p>
  <b>Q19 2:</b>
  <%= @datum.q19_2 %>
</p>

<p>
  <b>Q20 1:</b>
  <%= @datum.q20_1 %>
</p>

<p>
  <b>Q20 2:</b>
  <%= @datum.q20_2 %>
</p>

<p>
  <b>Q21 1:</b>
  <%= @datum.q21_1 %>
</p>

<p>
  <b>Q21 2:</b>
  <%= @datum.q21_2 %>
</p>

<p>
  <b>Q22 1:</b>
  <%= @datum.q22_1 %>
</p>

<p>
  <b>Q22 2:</b>
  <%= @datum.q22_2 %>
</p>

<p>
  <b>Q23 1:</b>
  <%= @datum.q23_1 %>
</p>

<p>
  <b>Q23 2:</b>
  <%= @datum.q23_2 %>
</p>

<p>
  <b>Q24:</b>
  <%= @datum.q24 %>
</p>

<p>
  <b>Q25:</b>
  <%= @datum.q25 %>
</p>

<p>
  <b>Q26 1:</b>
  <%= @datum.q26_1 %>
</p>

<p>
  <b>Q26 2:</b>
  <%= @datum.q26_2 %>
</p>

<p>
  <b>Q27 1:</b>
  <%= @datum.q27_1 %>
</p>

<p>
  <b>Q27 2:</b>
  <%= @datum.q27_2 %>
</p>

<p>
  <b>Q28 1:</b>
  <%= @datum.q28_1 %>
</p>

<p>
  <b>Q28 2:</b>
  <%= @datum.q28_2 %>
</p>

<p>
  <b>Q29 1:</b>
  <%= @datum.q29_1 %>
</p>

<p>
  <b>Q29 2:</b>
  <%= @datum.q29_2 %>
</p>

<p>
  <b>Q30 1:</b>
  <%= @datum.q30_1 %>
</p>

<p>
  <b>Q30 2:</b>
  <%= @datum.q30_2 %>
</p>

<p>
  <b>Q31 1:</b>
  <%= @datum.q31_1 %>
</p>

<p>
  <b>Q31 2:</b>
  <%= @datum.q31_2 %>
</p>

<p>
  <b>Q32 1:</b>
  <%= @datum.q32_1 %>
</p>

<p>
  <b>Q32 2:</b>
  <%= @datum.q32_2 %>
</p>

<p>
  <b>Q33 1:</b>
  <%= @datum.q33_1 %>
</p>

<p>
  <b>Q33 2:</b>
  <%= @datum.q33_2 %>
</p>

<p>
  <b>Q34 1:</b>
  <%= @datum.q34_1 %>
</p>

<p>
  <b>Q34 2:</b>
  <%= @datum.q34_2 %>
</p>

<p>
  <b>Q35:</b>
  <%= @datum.q35 %>
</p>

<p>
  <b>Q36:</b>
  <%= @datum.q36 %>
</p>

<p>
  <b>Q37:</b>
  <%= @datum.q37 %>
</p>

<p>
  <b>Q38:</b>
  <%= @datum.q38 %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
